# Dependencies
node_modules/

# Hardhat
cache/
artifacts/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
coverage.json

# TypeChain
typechain/
typechain-types/

# Misc
*.log
